*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primera-seccion{
    height: 100vh;
}

header h2{
    background: green;
    padding: 1%;
}

ul{
    display: flex;
    flex-direction: row-reverse;
}

nav{
    background: #000;
}
nav  li {
    list-style: none;
    display: flex;
    padding: 2%;
    margin: 0% 5% 0% 5%;
    

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    
}

.imagen{
    height: 100vh;
    background-image: url(../imagenes/img/spaghetti-g947692dca_1920.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    color: white;
    font-size: 300%;

    
}

.seccion button{
    padding: 10px;
    border-radius: 30px;
    background: rgb(236, 77, 15);
    color: white;
    font-size: 50px;
}

.segunda-seccion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    text-align: center;
    gap: 10%;
    background: #23ed7e;
}

.segunda-seccion h3{
    font-size: 10vh;
    
}
.segunda-seccion h4{
    font-size: 8vh;

}

.imagen-woman{
    width: 100%;
    height: 50%;
    padding: 1vh;
}

.imagen-woman img{
    height: 100%;
    width: 100%;
    
}

.contenedor-pasta{
    display: flex;

    
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pasta{
    width: 300px;
    height: 300px;
}

.pasta img{
    height: 80%;
    width: 100%;
    
}

.tercera-session{
    height: 100vh;
}


.tercera-session{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.bloque-derecho{
    height: 100vh;
    text-align: center;
    background: lightblue;
    font-size: 20px;
}

table{
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-collapse: collapse;
}

table .tabla-titulo td{
    background: rgb(37, 227, 62);
    color: white;

}
td{
    border: 2px solid#fff;
    padding: 30px;
}

.blanco{
    background: rgb(228, 219, 219);
}
.gris{
    background: rgb(190, 187, 187);
}

.inferior {
    color: gray;
    margin-top: 14vh;
    margin-left: 9vh;
   text-align: left;

}
.inferior h3{
    margin-bottom: 2%;
}

.logo{
    height: 50px;
    width: 50px;
}
.bloque-izquierdo{
    background: #000;
    color: white;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input{
    font-size: 40px;
    margin-bottom: 10px;
}

.enviar{
    border-radius: 10px;
    width: 35%;
    background: orangered;
    color: white;
}

.mapa{
    width: 100%;
    height: 30%;
}

.mapa img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer{
    background: #000;
    color: white;
    height: 100vh;
    
}

.parte-final{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-size: 40px;
}



.parte-final ul{
    list-style: none;
}

.parte-final a{
    text-decoration: none;
    color: white;
}


.enlace{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background: gray;
    height: 80vh;
}

.segundo{
    background: rgb(54, 53, 53);
}

.final{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}


